*,
*::before,
*::after {
    box-sizing: border-box;
}

.left {
    float: left;
}
.right {
    float: right;
}

body {
    margin: 0;
}

#developerNav, #orkneyNav {
    display: none;
}

nav {
    background-color: var(--surface-2);
    overflow: hidden;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    float: left;
    text-align: center;
    padding: 0;
}
nav ul li a {
    padding: 14px 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--surface-1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
nav ul li a {
    display: block;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color 500ms;
}
nav ul li a:hover {
    background-color: var(--surface-3);
}


#mainNav li {
    width: calc(100% / 6);
}
#developerNav li {
    width: calc(100% / 3);
}
#orkneyNav li {
    width: calc(100% / 3);
}


.container {
    width: min(100% - 2rem, 50rem);
    margin-inline: auto;
    clear: both;
}

.intro {
    padding-block: var(--size-9);
    margin-block-end: var(--size-9);
    box-shadow: var(--shadow-3);
    background-color: var(--surface-2);
}

/* BLOG PAGE */

.blogItem {
    background-color: var(--surface-2);
    padding: 20px;
    border-radius: 10px;
}
.blogItem h3 {
    color: var(--blue-4);
}

/* STATUS PAGE */

#statusKey p {
    margin-right: 30px;
}

/* DEVELOPER PAGES */

iframe {
    border-radius: 10px;
}

/* OVERVIEW PAGE */

img {
    border-radius: 10px;
}
.flexChild {
    width: 50%;
    margin: 10px;
}